# Joe O'Regan
# 10/01/2019

# Ignore this

/node_modules/
npm-debug.log
.DS_Store
/.env
*.bak

# Ignore web

LICENSE
process.json
web.config

# Keep this

!/static/*
!.gitignore
!README.md
!package.json
!package-lock.json

