.chatdiv {
	width: 720px;
	height: 250px;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	padding: 1%;
}

.hidechat {
	display: none;
}

.msgdiv {
	background-color: white;
	width: 100%;
	height: 70%;
	overflow: scroll;
	overflow-x: hidden;
}

.message {
	padding-left: 2.5%;
	padding-right: 2.5%;
	width: 75%;
	border-radius: 12px;
}

.input-control {
	text-align: right;
	padding-right: 5%;
	width: 97%;
	margin: 0 auto;
	text-align: center;
}

.inputTxt {
	margin-top: 5px;
	width: 75%;
}

.chat {
	border-radius: 12px;
	padding: 5px;
	display: inline-block;
}

.left-outer {
	text-align: left;
}

.left-inner {
	margin-right: 10%;
	background-color: lightgrey;
}

.right-outer {
	text-align: right;
}

.right-inner {
	margin-left: 10%;
	background-color: lightblue;
}


/* Chat tooltip */

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext, .tooltip .tooltiptext-user {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip .tooltiptext-user {	
	right: 50px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}