/*
	Joe O'Regan
	11/01/2019
*/

body {
	background-color: white;
	text-align: center;
}

.body-section {
	padding: 20px;
	margin: 20px 10px;
	border-radius: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.selectGame {
	min-height: 600px;
}

td {
	height: 70px;
	width: 80px;
	min-height: 70px;
	min-width: 70px;
	text-align: center;
	vertical-align: middle;
	font-family: "Comic Sans MS", cursive, sans-serif;
	cursor: pointer;
	border-radius: 35px;
}

.linkTbl {
	margin: auto;
	width: 720px;
}

.linkTbl:td {
	width: 250px;
}

.title, .main, .chatdiv, .footer {
	margin: auto;
	width: 90%;
	border-radius: 10px;
	text-align: center;
	padding: 1px;
}

.title {
	background-color: royalblue;
	color: white
}

.gameBoard {
	text-align: center;
	display: none;
}

.column {
	background-color: blue;
}

.column:hover {
	background-color: orange;
	/* Highlight the column when the mouse is over it */
	background-image: linear-gradient(yellow, orange);
}

.frame {
	border: 3px solid #333;
	background-color: blue;
	border-radius: 15px;
}

.col0, .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8 {
	background-image: linear-gradient(to bottom right, white, grey);
}

input[type=text], .button {
	font-size: 125%;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.button {
	font-weight: bold;
	color: white;
	background-color: grey;
	cursor: pointer;
}

.button:hover {
	background-color: LightGrey;
}

.button:active {
	background-color: lime;
}

.game {
	max-width: 720px;
	margin: auto;
}

.footer {
	margin-top: 50px;
	background-color: dimgrey;
	color: white;
}

a:hover {
	color: grey;
}

a {
	color: white;
}

table.frame {
	margin-left: auto;
	margin-right: auto;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content button {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}